.proyectos-recientes{
	padding: 40px;
}

.btn-info {
	font-size: 1.1rem;
	margin: 20px;
}

.seccion-descripcion{
	font-size: 1.2rem;
	color: #584e4e;
}

.proyectos-recientes img{
	height: 100%;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	display: block;
	transition: all 0.2s ease;
}

.proyectos-contenedor{
	padding-top: 60px;
	margin-bottom: 40px;
}

.overlay{
	transition: all 0.2s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.overlay p{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0;
}

.proyecto {
	position: relative;
}

.proyecto:hover img{
	opacity: 0.2;
}

.proyecto:hover .overlay{
	opacity: 1;
}

.overley .iconos-contenedor {
	display: flex;
}

.overlay i{
	color: black;
	font-size: 60px;
	margin: 10px;
}

@media screen and (max-width: 400px) {
	.overlay p {
		font-size: 18px;
	}

	.overlay i {
		font-size: 40px;
	}
}